.main{
    width: 98vw;
    min-height: 85vh;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 4rem;
    align-items: middle;
    padding-top: 1rem;
    overflow-x: hidden
}

.sidebar{
    min-width: 15%;
    margin-left: 1.5rem;

    /* border: 2px solid black; */
}

.catalogue{
    width: 75%;
    height: 100%;
    /* margin: 0 2rem; */
    
    margin-x: auto;

}


.active{
    display: block;
}

@media screen and (max-width: 768px) {

    .main{
        width: auto;
        gap: 0;
        margin: 0;
        padding: 0;
    }

    .filter-main{
        display: block;
    }

    .sidebar{
        display: none;
    }
}