.main{
    width: 99vw;
    min-height: 85vh;
    margin: auto;
    /* border: 2px solid blue; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 3rem;
    align-items: middle;
    padding-top: 1rem;
}

.sidebar{
    min-width: 15%;
    margin-left: 1.5rem;

    /* border: 2px solid black; */
}

.catalogue{
    width: 80%;
    height: 100%;
    /* margin: 0 2rem; */
    
    margin-x: auto;

}

@media screen and( max-width: 800px){
    .filter-main{
        visibility: none;
    }
}